<nav class="navbar fixed-top custom">
  <div class="container-fluid">
    <div class="navbar-brand" id="navbarNav">
      <a class="navbar-logo" href="/products">
        <!-- <img src="./assets/logo@1x.png" alt="TECHMARKET" /> -->
        <h1 class="site-name">TECHMARKET</h1>
      </a>
    </div>
    <% if (user_id) { %>
      <section class="menu-logged-in">
        <div class="login-as">Logged in as <%= userName %>
        </div>
        <div class="navbar-items">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/products">Shop</a>
            </li>
            <li class="nav-item">
              <a id="myListings" class="nav-link" href="/products/users/<%= user_id %>">My listings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/new">New listing</a>
            </li>
            <li class="nav-item">
              <a id="wishlist" class="nav-link" href="/products/wishlist/<%= user_id %>">My wishlist</a>
            </li>
            <li class="nav-item">
              <a id="logout" class="nav-link" href="/users/logout">Logout</a>
            </li>
          </ul>
          <!-- <form class="d-flex" method="GET" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button type="submit">></button>
          </form> -->
        </div>
      </section>
      <% } else { %>

        <section class="logged-out-nav">
          <div class="login-div">
            <form id="login-form" class="form-inline" action="/users/login" method="POST">

              <div class="form-group mb-2">
                <input class="form-control" type="email" name="email" placeholder="Email">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
              </div>
            </form>
          </div>
          <div class="other-menus">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/new">Signup</a>
              </li>
            </ul>
          </div>
        </section>
        <!-- <form class="d-flex" method="GET" action="/search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">></button>
        </form> -->
        <% }; %>
  </div>
  </div>
</nav>
