<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

</head>

<body>

  <%- include('./partials/_navbar'); %>

  <h1>Use jQuery! 🥔</h1>
  <button id="click">Bring register form</button>
  <button id="vl-products">Bring products</button>
  <button id="vl-wishlist">Bring wishlist</button>

  <main id="vl-main-content">


  </main>


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/users.js"></script>
  <script type="text/javascript" src="/scripts/components/products_listings.js"></script>
  <script type="text/javascript" src="/scripts/components/wishlist.js"></script>
  <script type="text/javascript" src="/scripts/components/signup_form.js"></script>
  <script type="text/javascript" src="/scripts/views_manager.js"></script>
  <script type="text/javascript" src="/scripts/index.js"></script>

</body>

</html>
