<!DOCTYPE html>
<html lang="en">

<head>
  <title>TechMarket</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS links  -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- End of CSS links -->

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/users.js"></script>


  <!-- end of link for carousel -->

</head>
<!-- Start of body -->

<body>
  <!-- Start of Header -->
  <header id="page-header">
    <%- include('./partials/_navbar'); %>
  </header>

  <!-- <button id="click">Bring users</button> -->
  <div class="featured-section">
    <a href="/products/featured">
      <h3 class="categories-title">Featured</h3>
    </a>
    <table id="featured">

    </table>
  </div>
  <!-- Start of Footer -->
  <footer class="footer">
    <%- include('./partials/_footer'); %>
  </footer>
  <!-- End of Footer -->
</body>
<!-- End of body -->

</html>
