<!DOCTYPE html>
<html lang="en">

<head>
  <title>New listing</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
</head>

<body>
  <div class="whole-body">

    <header>
      <%- include('./partials/_navbar') %>
    </header>
    <main class="container-create-new">
      <div class="new-listing-title">
        <h3>Create a listing</h3>
      </div>
      <table class="new-product-form">
        <tbody>
          <form class="form-inline" action="/products/new" method="POST">
            <tr class="input-field">
              <td><label for="title">Product Title *:</label></td>
              <td><input class="form-control" type="text" name="title"></td>
            </tr>
            <tr class="input-field">
              <td><label for="category">Category *:</label></td>
              <td><select type="text" name="category" id="product-category">
                  <option value="" disabled selected hidden>Choose a category</option>
                  <option value="Cell Phones">Cell Phones</option>
                  <option value="Laptops">Laptops</option>
                  <option value="Desktops">Desktops</option>
                  <option value="Tablets">Tablets</option>
                  <option value="TVs">TVs</option>
                  <option value="Cameras">Cameras</option>
                  <option value="Components">Components</option>
                  <option value="Others">Others</option>
                </select></td>
            </tr>
            <tr class="input-field">
              <td><label for="description">Description *:</label></td>
              <td><textarea class="form-control" name="description"></textarea></td>
            </tr>
            <tr class="input-field">
              <td><label for="img_url">Image URL *:</label></td>
              <td><input class="form-control" type="text" name="img_url"></td>
            </tr>
            <tr class="input-field">
              <td><label for="price">Price *:</label></td>
              <td><input class="form-control" type="number" name="price"></td>
            </tr>
            <tr class="input-field">
              <td><label for="featured">Featured:</label></td>
              <td><select name="featured" id="featured-boolean">
                  <option value="false">false</option>
                  <option value="true">true</option>
                </select></td>
            </tr>
            <tr class="single-row-item">
              <td><button type="submit" class="btn btn-primary">Create Listing</button></td>
            </tr>
          </form>
        </tbody>
      </table>
    </main>
    <!-- Start of Footer -->
    <footer class="footer">
      <%- include('./partials/_footer'); %>
    </footer>
    <!-- End of Footer -->
  </div>
</body>

</html>
